<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunvua.ljy.dao.UserPasswordDOMapper">
    <resultMap id="BaseResultMap" type="com.sunvua.ljy.daoObject.UserPasswordDO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="encrpt_password" jdbcType="VARCHAR" property="encrptPassword"/>
        <result column="user_id" jdbcType="INTEGER" property="userId" />

    </resultMap>
    <sql id="Base_Column_List">
        id,encrpt_password,user_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_password
        where id=#{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_password
        where user_id=#{userId,jdbcType=INTEGER}
    </select>
    <insert id="insert" parameterType="com.sunvua.ljy.daoObject.UserPasswordDO">
        insert into user_password (encrpt_password,user_id)
        values (#{encrptPassword},#{userId})
    </insert>
    <insert id="insertSelective" parameterType="com.sunvua.ljy.daoObject.UserPasswordDO" keyProperty="id" useGeneratedKeys="true">
        insert into user_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="encrptPassword !=null">encrpt_password,</if>
            <if test="userId !=null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="encrptPassword !=null">#{encrptPassword},</if>
            <if test="userId !=null">#{userId},</if>
        </trim>
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_password
        where id=#{id,jdbcType=INTEGER}
    </delete>
</mapper>